@{
    ViewData["Title"] = "SocialContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/socialcontent.css" rel="stylesheet" />
<div class="social-wrapper">
    <!-- Left Sidebar -->
    <div class="left-sidebar">
        <ul>
            <li><i class="fa-solid fa-house"></i> Home</li>
            <li><i class="fa-solid fa-magnifying-glass"></i> Search</li>
            <li><i class="fa-regular fa-paper-plane"></i> Messages</li>
            <li><i class="fa-regular fa-heart"></i> Notifications</li>
            <li><i class="fa-regular fa-square-plus"></i> Create</li>
            <li><i class="fa-regular fa-user"></i> Profile</li>
        </ul>
    </div>

    <!-- Center Feed -->
    <div class="feed-container" id="postSection">
        <!-- Dynamic posts will be loaded here via JS -->
    </div>

    <!-- Right Sidebar -->
    <div class="right-sidebar">
        <div class="suggestions">
            <h5>Suggested for you</h5>
            <div class="suggested-user">
                <img src="@Url.Content("~/image/app-avatar-default.png")" alt="User Avatar">
                <div>
                    <p class="name">ilove44383</p>
                    <button>Follow</button>
                </div>
            </div>
            <div class="suggested-user">
                <img src="@Url.Content("~/image/app-avatar-default.png")" alt="User Avatar">
                <div>
                    <p class="name">kavyashree</p>
                    <button>Follow</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/socialcontent.js")"></script>


